# This is a configuration definition file in folder "/home/adrian/ownCloud/uni/Masterarbeit/demo_buildings_2doors_ros/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Hierarchical

Name: # Configuration name
0.1.3

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  1.03018653e+01,  -8.17044277e-03,   3.40028917e+02],
       [  1.37396228e-02,  -1.00576583e+01,   1.95121674e+02],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
Hierarchical.RosHierarchicalDriveHandler(d=0.3)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
Hierarchical.RosHierarchicalInitHandler()

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
Hierarchical.RosHierarchicalLocomotionCommandHandler(velocityTopic="/cmd_vel_mux/input/navi")

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
Hierarchical.MoveBaseMotionHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
Hierarchical.RosHierarchicalPoseHandler(modelName="mobile_base")

RobotName: # Robot Name
Hierarchical

SensorHandler: # Sensor handler file in robots/Type folder
Hierarchical.RosHierarchicalSensorHandler()

Type: # Robot type
Hierarchical

