# This is a configuration definition file in folder "/home/adrian/ownCloud/uni/Masterarbeit/demo_buildings_2doors_ros/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Hierarchical

Name: # Configuration name
abstract_notnew

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[  1.00618105e+01,   2.24931230e-02,   3.37497855e+02],
       [  1.34257252e-02,  -1.01775396e+01,   1.95081276e+02],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
Hierarchical.RosHierarchicalInitHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
Hierarchical.RosHierarchicalPoseHandler(modelName="mobile_base")

RobotName: # Robot Name
Hierarchical

Type: # Robot type
Hierarchical

